body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.letra-titulos {
  font-family: Macondo;
}

.letra {
  font-family: Poppins;
}

.color_header {
  background-color: #f26419;
}

.titulo_principal {
  font-size: 4rem;
  margin-top: 2rem;
}

.subtitulo_principal {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.padding_footer-img {
  margin-right: 1rem;
}

.card-precio {
  font-size: 1.5rem;
}

.card-descripcion {
  margin-top: 1rem;
}
.card-titulo {
  font-size: 1.5rem;
  background-color: #f26419;
  border-radius: 25px;
  margin-top: 2rem;
}

.shadow {
  box-shadow: 1px 1px 43px -8px rgba(255, 106, 2, 0.75);
  -webkit-box-shadow: 1px 1px 43px -8px rgba(255, 106, 2, 0.75);
  -moz-box-shadow: 1px 1px 43px -8px rgba(255, 106, 2, 0.75);
}

.border-form {
  border: 2px solid #f26419;
  border-radius: 25px;
  padding: 1.5rem;
}

.letra_validacion {
  font-size: 0.8rem;
}
